.new{
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.navbar{
    padding-top: 2rem;
    color: blue;
}

.cent{
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}
